@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Genshin';
    src: url('./fonts/genshin.eot');
    src: url('./fonts/genshin.eot?#iefix') format('embedded-opentype'),
        url('./fonts/genshin.woff2') format('woff2'),
        url('./fonts/genshin.woff') format('woff'),
        url('./fonts/genshin.ttf') format('truetype'),
        url('./fonts/genshin.svg#Genshin') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.ff-genshin {
    font-family: 'Genshin', sans-serif;
}

.btn.btn-primary:hover {
    @apply text-primary;
    background-color: #363F7E;
    border-color: #363F7E;
}

.leaflet-popup {
    min-width: 300px;
}

.leaflet-popup .btn {
    @apply text-white text-sm;
}

.leaflet-popup .toggle {
    --tglbg: white;
}

.leaflet-popup-content {
    margin: .5rem .75rem .75rem !important;
}

.leaflet-popup-close-button {
    width: 2rem !important;
    height: 2rem !important;
    font-size: 1.25rem !important;
    display: flex;
    align-items: center;
    justify-content: center;
}